
@mixin telefono{
    @media only screen and (min-width: #{$telefono}){
        @content;
    }
}

@mixin tablet{
    @media only screen and (min-width: #{$tablet}){
        @content;
    }
}

@mixin pc{
    @media only screen and (min-width: #{$pc}){
        @content;
    }
}

@mixin desktop{
    @media only screen and (min-width: #{$desktop}){
        @content;
    }
}

@mixin height_device{
    @media only screen and (max-width: #{$ancho-pantalla}){
        @content;
    }
}

@mixin buttonStyle($width, $background, $color){
    min-width: $width;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: $background;
    z-index: 1;

    color: $color;
}