$telefono: 480px;
$tablet: 768px;
$pc: 992px;
$desktop: 1200px;

$amarillo: #FDDA3A;
$negro: #2C2B29;
$rosado: #F21E4E;

@mixin telefono{
    @media only screen and (min-width: #{$telefono}){
        @content;
    }
}

@mixin tablet{
    @media only screen and (min-width: #{$tablet}){
        @content;
    }
}

@mixin pc{
    @media only screen and (min-width: #{$pc}){
        @content;
    }
}

@mixin desktop{
    @media only screen and (min-width: #{desktop}){
        @content;
    }
}

@mixin buttonStyle($width, $background, $color){
    min-width: $width;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: $background;
    z-index: 1;

    color: $color;
}