*{
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
}
html, body{
    margin: 0; 
    padding: 0;
    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;
}
.wrp{
    width: 95%;
    display: block;
    margin: 0 auto;
}
.col_2{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}
.col_3{
    width: 32%;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}
.col_4{
    width: 24%;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}
.col_7{
    width: 67%;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

/*inputs*/
._imp_clf {
    text-align: left;
    margin-top: 5px;
    padding: 5px;
    display: block;
    font-weight: bold;
}

._dv_inp_rad{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}
._inp_rad{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}
._lbl_rad {
    display: inline-block;
    margin-top: 5px;    
}
._dv_inp_rad{
    position: relative;
    width: 100%;
}
._dv_inp_rad span{
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 10px;
    color: RED;
}
._dv_inp_chk{
    margin-top: 5px;
    height: 37px;
    text-align: left;
}
._inp_chk{
    display: inline-block !important;
    vertical-align: middle;
    width: 25px !important;
    height: 25px !important;
}
._lbl_chk{
    padding-left: 10px;
}

.error_vld{ 
    background: rgba(255, 185, 0, 0.22);
}
._dv_inp {
    position: relative;
    width: 100%;
}
._dv_inp label {
    position: absolute;
    right: 20px;
    bottom: 6px;
    font-size: 10px;
    font-weight: 100;
}
._dv_inp span {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 10px;
    color: RED;
}
input, textarea{
    width: 100%;
    display: block;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #243775;
}
textarea{
    resize: none;
    height: 180px;
}
select {
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 100%;
    padding: 9px;
}
select option {
    font-size: 17px;
}