{{> partials/header}}
{{> partials/navigation}}

    <div class="contain">
        <div class="file about">
            <div class="column">
                <img src="recursos/img/about.jpg" alt="about image">
            </div>
            <div class="column">
                <h1>Bienvenido a mudanzas</h1>
                <h3>Una de las empresas de mudanzas mas grandes en Colombia.</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, nihil! Eius, minus qui laudantium eveniet quidem sint ullam rerum at unde, commodi nemo, magni magnam totam accusantium itaque consequatur quae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, nihil! Eius, minus qui laudantium eveniet quidem sint ullam rerum at unde, commodi nemo, magni magnam totam accusantium itaque consequatur quae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, nihil! Eius, minus qui laudantium eveniet quidem sint ullam rerum at unde, commodi nemo, magni magnam totam accusantium itaque consequatur quae.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="contain about_mision">

    <div class="file about_mision">
        <div class="column">
            <h2>Nuestra Mision</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aliquam laudantium ipsa eum nobis vero rem, cum doloremque amet magnam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aliquam laudantium ipsa eum nobis vero rem, cum doloremque amet magnam?
            </p>
        </div>
        <div class="column">
            <h2>Nuestra Vision</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aliquam laudantium ipsa eum nobis vero rem, cum doloremque amet magnam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aliquam laudantium ipsa eum nobis vero rem, cum doloremque amet magnam?
            </p>
        </div>
    </div>
</div>
    

{{> partials/footer}}