<header>
    <div class="swiper-container">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
            <img class="slide-img" src="recursos/img/slide-1.jpg" alt="Mundazas seguras">
            <div class="inf_slide">
                <img src="recursos/img/1.png" alt="">
                <h1>Un nuevo destino</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam vitae placeat deleniti consequuntur officiis eos quisquam quidem error cumque minus!</p>
            </div>
      </div>
      <div class="swiper-slide">
            <img class="slide-img" src="recursos/img/slide-2.jpg" alt="Mundazas seguras">
            <div class="inf_slide">
                <img src="recursos/img/2.png" alt="">
                <h1>lorem ipsum</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam vitae placeat deleniti consequuntur officiis eos quisquam quidem error cumque minus!</p>
            </div>
      </div>
      <div class="swiper-slide">
            <img class="slide-img" src="recursos/img/slide-3.jpg" alt="Mundazas seguras">
            
            <div class="inf_slide">
                <img src="recursos/img/3.png" alt="">
                <h1>Confia en nosotros</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam vitae placeat deleniti consequuntur officiis eos quisquam quidem error cumque minus!</p>
            </div>
      </div>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>

    <nav>
        <div class="logo">
            <a href="index.html"><img src="recursos/img/logo-white.png"></a>
        </div>
        
        <label for="check">
            <svg id="Layer_1" enable-background="new 0 0 512 512" height="30" viewBox="0 0 512 512" width="30" xmlns="http://www.w3.org/2000/svg">
                <path d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/>
                <path d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/>
                <path d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z"/>
            </svg>
        </label>
        <input type="checkbox" name="check" id="check">
 
        <ul class="navigation">
            <li>
                <a href="index.html" class="active">home</a>
            </li>
            <li>
                <a href="about.html">Nosotros</a>
            </li>
            <li>
                <a href="services.html">Servicios</a>
            </li>
            <li>
                <a href="contacto.html">Contacto</a>
            </li>
            <li>
                <a href="tel:3100000000">Llamanos <strong class="active">310-000-0000</strong></a>
            </li>
        </ul>
    </nav>

</header>

<div class="btns">
    <div class="btn uno">
        <h3>+500</h3>
        <div class="info_btn">
            <p>Usuarios</p>
            <p>registrados</p>
        </div>
    </div>

    <div class="btn dos">
        <p class="fas fa-shopping"></p>
        <h3>$60</h3>
        <div class="info_btn">
            <p>Contratanos </p>
            <p>Ahora</p>
        </div>
    </div>
</div>
