<div class="contain">
    <nav>
        <div class="lgoPcp">
            <img src="https://bridge120.qodeinteractive.com/wp-content/uploads/2017/11/logo.png">
        </div>
        
        <div class="navegacion">
            <li>
                <a href="/home" class="active"><span class="fas fa-">home</span></a>
            </li>
            <li>
                <a href="/about"><span class="fas fa-">about</span></a>
            </li>
            <li>
                <a href="/servicios"><span class="fas fa-">services</span></a>
            </li>
            <li>
                <a href="/contacto"><span class="fas fa-">contact</span></a>
            </li>
            <li>
                <span class="fas fa-phone">call us <strong class="active">1-677-124-4427</strong> </span>
            </li>
        </div>
    </nav>
</div>

<div class="btns">
    <div class="btn uno">
        <h5>490+</h5>
        <div class="info">
            <span>Brigge</span>
            <span>demos</span>
        </div>
    </div>
    <div class="btn dos">
        <span class="fas fa-shopping"></span>
        <span>BUY NOW $59</span>
    </div>
</div>