*{
    margin: 0;
    padding: 0;
    font-family: 'Mansalva', cursive;
    box-sizing: border-box;
}

#about{
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#info-two{
    background: #f1f1f1;
}

footer{
    background: url("../2.png") no-repeat;

}