*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Todas las cajas recalculas sus tamaños definidos inicialmente */
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: justify;
}

body{
    background-color: rgba(223, 221, 221, 0.699);
}

.container{ /* sera el padre de las otras etiquetas */
    margin: auto; /* Centrado */
    max-width: 1200px; /* Sera el tamaño maximo para escalar */
    width: 90%; /* tamaño total dentro del navegador */
    display: flex;
    flex-flow: row wrap; /* en forma de fila se agruparan */

}

header{
    background: rgba(204, 216, 39, 0.815);
    color: #FFF;
    padding: 1em;
    display: flex; /* Ya que sera padre de etqiueta h2 y nav */
    flex-basis: 100%; /* etqueta del tamaño total */
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;/* Para ubicarlos de maejor manera */
}

header nav{
    background: rgba(197, 142, 142, 0.788);
    padding: 1em;
    flex-basis: 40%; /* 40% del tamaño del contenedor padre */
    text-align: center;
}

header nav a{
    color: #FFF;
    padding: 1em;/* margenes internas */
    text-transform: uppercase;/* MAYUSCULAS  */
    justify-content: space-around;/* se ubica bien estas etiquetas */
    transition: all 1s;
}

header nav a:hover{
    background: rgba(204, 216, 39, 0.815);
}

section{
    background: #FFF;
    flex: 1 1 60%; /* para su diseño responsivo */
    padding: 1.5em 1em;
}

section p, section hr, section h1{
    margin-bottom: 1em;/* espaciado */
}

aside{
    background: rgba(197, 142, 142, 0.788);
    flex: 1 1 40%; /* para su diseño responsivo */
}

aside p{
    background-color: rgba(255, 217, 0, 0.411);
    color: #FFF;
    margin: 1em;
    padding: 1em;
}

footer{
    background: rgba(204, 216, 39, 0.815);
    color: #FFF;
    width: 88%;
    position: fixed;
    bottom: 0;
    padding: 1.5em 0;
}

footer p{
   text-align: center;
}

@media (max-width: 1200px){ /* cuando se alcanza este tamaño */
    .container{
        flex-direction: column;/* se cambia de forma de fila a columna, vericalmente */
    }

    header{
        margin: 0;
        padding: 0;
        justify-content: center;
        padding: 1.5em;
    }

    header nav{
        flex-basis: 100%;
    }

    h2{
        padding: 1em;
    }
}


















