.yellow {
  background-color: #ecc000;
}

.yellow-text {
  color: #ecc000;
}

.pink {
  background-color: #d40053;
}

.pink-text {
  color: #d40053;
}

.green {
  background-color: #009966;
}

.green-text {
  color: #009966;
}

.blue {
  background-color: #5297ce;
}

.blue-text {
  color: #5297ce;
}

.white {
  background-color: #ffffff;
}

.white-text {
  color: #ffffff;
}

.black {
  background-color: #000000;
}

.black-text {
  color: #000000;
}



