!!!5
%html
    %head
        %link{href:"estilos.css",rel:"stylesheet"}
        %link{href:"https://cdnjs.cloudflare.com/ajax
        /libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
        ,rel:"stylesheet"}
        %meta{charset:"utf-8"}
        %title Creacion de Landing Page
    %body
        .workshop-background
            .row.center-xs
                .col-xs-10.col-sm-8.col-md-6
                    .box
                        %header.while-text.text-center
                            lorem ipsum